@use '../../styles/variaveis' as *;

.s_navbar {
    background-color: $fundonavbar;
    z-index: 10;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    height: 6rem;

    @include mq('md') {
        flex-direction: row; // Mantém o layout padrão no desktop
    }
}

.imgDiv {
    &__img {
        height: 4.55rem;
        padding: 0.25rem;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }}}

.hamburger {
    display: none;
    cursor: pointer;

    @include mq('md') {
        display: block; // Exibe o ícone apenas em telas pequenas
    }
}

.links {
    display: flex;
    gap: 1.5rem;

    @include mq('md') {
        flex-direction: column;
        gap: 0.75rem;
        position: fixed;
        top: 5rem; // Ajuste conforme a altura do navbar
        right: 0;
        background-color: $fundonavbar;
        width: 100%;
        max-width: 250px;
        height: 100vh;
        padding: 2rem;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 999;
    }
}

.linksActive {
    @include mq('md') {
        transform: translateX(0); // Exibe o menu quando ativado
    }
}

.items {
    @include descricao($corBranco, 500);
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.3s ease;

    &:hover {
        color: lighten($corBranco, 20%);
    }

    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        background-color: $corBranco;
        left: 50%;
        bottom: -0.25rem;
        transform: translateX(-50%);
        transition: width 0.3s ease;
    }

    &:hover::after {
        width: 100%;
    }

    @include mq('md') {
        display: block;
    }
}
