@use '../../styles/variaveis' as *;

.s_contato {
    background-color: $fundoBotoes;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.e_button {
    position: fixed; // Define a posição fixa
    right: 2rem; // Distância da borda direita
    bottom: 2rem; // Distância da borda inferior
    z-index: 1000; // Garante que o botão fique acima de outros elementos
    border-radius: 2rem;
    background-color: $whatsapp;
    padding: 1rem 3rem;
    border: none;

    @include mq('sm') {
        padding: 0.8rem 2rem;
        right: 1rem;
        bottom: 1rem;
    }

    .e_Btext {
        @include descricao($corBranco, 500);
        text-align: center;
        background-color: transparent;
    }

    &:hover {
        transition: all 0.25s;
        color: $corPreto;
        background-color: rgba($color: $whatsapp, $alpha: 0.75);
    }
}



.titulo {
    padding-top: 2.5rem;
    padding-bottom: 0.5rem;
    @include tituloSecao($corDescricao)
}

.desc {
    @include descricao($corDescricao, 400, 1.5rem);
    padding-bottom: 4rem;
}

.item {
    @include descricao($corDescricao, 500, 1rem);

    @include mq('sm') {
       font-size: 14px;
    }
}

.row {
    @include mq('sm') {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}

.icon {
    @media screen and (max-width: 400px) {
        height: 50%;
    }
}